/* write your override styles here */
#wall .tag-1 {
    display: none;
  }
  .tag-1{
    width: auto;
    display: none;
}
.parent{
  width: auto;
  display: none;
}

#wall{
    width: auto;
    display: none;
}
.tag-3{
    width: auto;
    display: none;
}
.tag-2{
  width: auto;
  display: none;
}
body div#wall div.parent div:last-child div#tag-6 {
  display: none;
}
body div#wall div.parent div:first-child > div#tag-7.slick {
    display: none;
} 